<p class="text-small text-grey-dk-000 mb-0">
  SSHScript {{ site.sshscript_version }} documentation.
  <a href="https://pypi.org/project/sshscript/">PyPI</a>
  ·
  <a href="https://github.com/iapyeh/sshscript/releases/latest">Release</a>
  ·
  <a href="https://github.com/iapyeh/sshscript/blob/release/SECURITY.md">Security</a>
  ·
  <a href="https://github.com/iapyeh/sshscript/blob/release/SUPPORT.md">Support</a>
  ·
  <a href="https://github.com/iapyeh/sshscript/blob/release/LICENSE.txt">MIT License</a>
</p>
