<p class="text-small text-grey-dk-000 mb-0">
  SSHScript 3.1.4 documentation.
  <a href="https://pypi.org/project/sshscript/3.1.4/">PyPI</a>
  ·
  <a href="https://github.com/iapyeh/sshscript/releases/tag/v3.1.4">Release</a>
  ·
  <a href="https://github.com/iapyeh/sshscript/blob/release/SECURITY.md">Security</a>
  ·
  <a href="https://github.com/iapyeh/sshscript/blob/release/SUPPORT.md">Support</a>
  ·
  <a href="https://github.com/iapyeh/sshscript/blob/release/LICENSE.txt">MIT License</a>
</p>
